<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class='fas fa-school' style='font-size:78px'></i>
    <!-- <img src="/public/download.png" alt="WCE"> -->
    <h1 class="display-3"> WCE-PORTAL </h1>
    <p class="lead" >This Portal is only for WCE's student and Faculty!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/student-home" role="button">Student</a>
    <a class="btn btn-dark btn-lg" href="/faculty-home" role="button">Faculty</a>

  </div>
</div>

<%- include('partials/footer') %>