<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class='fas fa-user-graduate' style='font-size:78px'></i>
    <h1 class="display-3">Student-Portal</h1>
    <!-- <p class="lead">If you haven't registered yet then do register firstly!</p> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
